/* SIDEBAR */
.sideBar {
  background-color: #212529;
  flex: 15%;
  position: relative;
}
.sideBarAB {
  text-align: right;
  position: absolute;
  right: 0;
  color: white;
  width: 100%;

}
.sideBarAB .ul{
display: flex;
flex-direction: column;
}
.sideBarAB .ul .lii{
    position: relative;
    /* background: red; */
    width: 100%;
    cursor: pointer;

    }

    .sideBarAB ul .lii:hover{
        background: rgb(223, 189, 0);
        color: rgb(70, 70, 70);
      
        }
.SidebarAction {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
