/* HOME */
input{
    text-align: right;
}
.container{
    display: flex;
    min-width: 100%;
    background-color: #212529;
    min-height: 100vh;
}
.Home{
text-align: right;
    flex: 85%;
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orangered;
}
.hsfkhslfkj{
    font-size: 2rem !important;
    color: white;
}
.ifwasone{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 2px orangered solid;
}

.spOption{
    background-color: orangered;
    color: white;
}
.clicks{
    background-color:orangered ;
    color: white;
    padding: 10px;
}
.clicks:hover{
    background-color:rgb(214, 57, 0) ;
    color: white;
    padding: 10px;
}
.sdfjkfds{
    display: flex;
    gap: 50px;
}
.hdskljfhsdfkl{
    display: flex;
    gap: 20px;
    flex-direction: column;
}